body {
  font-family: "Source Sans Pro", sans-serif;
}
html {
  scroll-behavior: smooth;
}
#header {
  min-height: 100vh;
  background: linear-gradient(rgba(31, 33, 51, 0.4), rgba(0, 105, 217, 0.2)),
    url(./assets/header-bg.jpg) center/cover no-repeat fixed;
}
.bg-black {
  background-color: rgb(26, 25, 25);
}
.bg-phenom-grey {
  background-color: rgb(212, 212, 212);
}
.border-rad {
  border-bottom: 5px solid;
}
.portfolio-hover {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.portfolio-hover:hover {
  opacity: 1;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
