/* Trivia */
.outline {
  border: 2px solid green !important;
}
.app {
  min-height: 100vh;
  background-color: rgb(224, 222, 222);
}
.btn-trivia {
  background-color: #2c4023 !important;
  color: white !important;
}
.btn-outline-trivia {
  background: transparent !important;
  color: #2c4023 !important;
  border: 1px solid #2c4023 !important;
}
.btn-outline-trivia:hover {
  border: 0 !important;
  background: #2c4023 !important;
  color: white !important;
}

.btn-trivia:hover {
  background-color: #2c4023bd !important;
  color: white !important;
}
.homepage {
  letter-spacing: 0.2rem;
}
.text-tandem {
  color: #2c4023;
}

.underline {
  height: 5px;
  width: 90px;
  background-color: #2c4023;
}
.question-bg {
  border: 1px solid #2c4023 !important;
}
.pointer {
  cursor: pointer;
}
