* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
  color: #ff8e3c !important;
}
.bg-light {
  background-color: #eff0f3;
}
.bg-darK {
  background-color: #0f0e17;
}
.min-100 {
  min-height: 100vh !important;
}
.underline {
  height: 3px;
  width: 90px;
  background-color: #ff8e3c;
}

.headline {
  color: #0d0d0d;
}
.bg-darK .headline {
  color: #fffffe;
}
.p {
  color: #0d0d0d;
}
.bg-darK .p {
  color: #a7a9be;
}

.btn-orange {
  background-color: #ff8e3c !important;
  color: #0d0d0d !important;
}
.bg-darK .btn-orange {
  background-color: #ff8e3c !important;
  color: #fffffe !important;
}
.text-orange {
  color: #ff8e3c;
}
.bg-card {
  background-color: #ff8e3c;
  color: #eff0f3;
}
.btn-outline-orange {
  border: 1px solid #ff8e3c !important;
  color: #0d0d0d !important;
}
.bg-darK .btn-outline-orange {
  border: 1px solid #ff8e3c !important;
  color: #fffffe !important;
}
.portimg {
  border: 2px solid #ff8e3c;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  opacity: 1 !important;
  min-height: 150px !important;
}
.portimg:hover {
  opacity: 0.5 !important;
}
#scrollUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  opacity: 0.5;
  cursor: pointer;
}
#scrollUp:hover {
  opacity: 1;
}
.icon {
  width: 48px;
  height: 48px;
}

@media screen and (min-width: 425px) {
  .portimg {
    min-height: 400px !important;
  }
}

@media screen and (max-width: 425px) {
  .bg-light,
  .bg-darK {
    overflow-x: hidden;
  }
  .display-3 {
    font-size: 2rem !important;
  }
  .display-4 {
    font-size: 2.2rem !important;
  }
  h5 {
    font-size: 1rem !important;
  }
  .portfolio-name {
    font-size: 2rem !important;
  }
}
